

body {
	background-image: url("../images/nice_snow.png");
	color:#777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

h1, h2, h3, h4 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	padding: 10px 0;
	margin: 0;
	font-weight: bold;
}

h2, h3 {
	color: #4aaaa5;
}

h1 {
	font-size: 28px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 20px;
}

p {
	margin-top: 0;
	padding-top: 0;
}

/* LINKS */

a:link {
	text-decoration: none;
	color: #cccccc;
}

a:hover {
	color: #666666;
	font-weight: bold;
}

a:active {
	color: #333333;
}

a:visited {
	color: #666666;
}

.container {
	width: 960px;
	height: 1020px;
	margin: 0 auto;
}

#about,
#connect {
	float: left;
}

/* HEADING & NAVBAR */

#header {
	background: #ffffff;
	border-bottom: 2px solid #cccccc;
	display: inline-flex;
	width: 100%;
	padding: 0 100px; 
}

#name {
	text-align: center;
	background: #4aaaa5;
	color: #ffffff;
	width: 300px;
	white-space: nowrap;
}

#navbar {
	background: #ffffff;
	float: right;
	padding-left: 360px;
	padding-top: 15px;
}

#navbar li {
	text-align: right;
	position: static;
	display: inline;
	list-style-type: none;
	margin: 0;
	padding: 0 10px;
}

/* CONTENT */


.border {
	border-left: 1px solid #dddddd;
	padding-bottom: 25px;
}

.title {
	border-bottom: 2px solid #cccccc;
	margin: 25px;
	padding-bottom: 25px;
}

#portfolio,
#contact,
#about {
	padding: 25px;
}
#bioimage {
	width: 30%;
	float: left;
	padding-right: 25px;
}

#content,
#connect {
	float: left;
}

#content {
	background: #ffffff;
	border: 1px solid #dddddd;
	line-height: 150%;
	margin: 50px 0 0 0;
	width: 650px;
	overflow: auto;
	padding-right: 0px;
}

#connect {
	border: 1px solid #dddddd;
	background: #ffffff;
	display: inline;
	margin: 50px;
	width: 270px;
	clear: none;
}

#about,
#connectsect {
	float: right;
	margin: 0 5px 5px 5px;
}

#connectsect {
	width: 270px;
}

.social {
	width: 20%;
	float: left;
	padding: 0 0 25px 25px;
	display: inline;
}


/* CONTACT PAGE */

input {
	color: #cccccc;
	width: 100%;
	line-height: 180%;

}


#message {
	height: 200px;
	margin-bottom: 25px;
}

#submit {
	font-size: 1em;
	width: 20%;
	background: #4aaaa5;
	color: #ffffff;
	border: 1px solid #cccccc;
	padding: 5px; 
}

/* PORTFOLIO PAGE */

.portfolioTitle {
	text-align: center;
	color: #ffffff;
	background-color: #4aaaa5;
	margin-top: 70%;
	padding:5% 0;
}	

#p1,
#p2,
#p3,
#p4,
#p5 {
	width: 200px;
	height: 200px;
	float: left;
	margin: 20px 45px;
}

#p1 a,
#p2 a,
#p3 a,
#p4 a,
#p5 a {
	text-decoration: none;
	color: #ffffff;
	font-weight: normal;
}

#p1 a:hover,
#p2 a:hover,
#p3 a:hover,
#p4 a:hover,
#p5 a:hover {
	text-decoration: none;
	color: #666666;
	font-weight: normal;
}



#p1 {
	background-image: url("../images/300x300.png");
}

#p2 {
	background-image: url("../images/300x300.png");
}

#p3 {
	background-image: url("../images/300x300.png");
}

#p4 {
	background-image: url("../images/300x300.png");
}

#p5 {
	background-image: url("../images/300x300.png");
}


/* FOOTER */

footer {
	font-size: 10px;
	text-align: center;
	color: #dddddd;
	background: #666666;
	border-top: 5px solid #4aaaa5;
	position: fixed;
	width: 100%;
	bottom: 0;
	grid-row-start: 2;
	grid-row-end: 3;
	padding: 25px 0;
}
