

body {
	background-image: url("../images/nice_snow.png");
	color:#777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

h1, h2, h3 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	padding: 10px 0;
	margin: 0;
}

h2, h3 {
	color: #4aaaa5;
}

div {
	background: #ffffff;
}

input {
	color: #cccccc;
	width: 100%;
	line-height: 180%;
}

#message {
	height: 200px;
	margin-bottom: 25px;
}

#submit {
	font-size: 1em;
	width: 20%;
	background: #4aaaa5;
	color: #ffffff;
	border: 1px solid #cccccc;
	padding: 5px; 
}

.container {
	width: 960px;
	margin: 0 auto;
}

#about,
#connect {
	float: left;
}
#header {
	background: #ffffff;
	border-bottom: 2px solid #cccccc;
	display: inline-flex;
	width: 960px;
	padding: 0 100px; 
}

#name {
	text-align: center;
	background: #4aaaa5;
	color: #ffffff;
	width: 300px;
	white-space: nowrap;
}

#navbar {
	background: #ffffff;
	float: right;
	padding-left: 350px;
}

#navbar li {
	text-align: right;
	position: static;
	display: inline;
	list-style-type: none;
	margin: 0;
	padding: 0 10px;
}

.border {
	border-left: 1px solid #dddddd;
	padding-bottom: 25px;
}

.title {
	border-bottom: 2px solid #cccccc;
	margin: 25px;
	padding-bottom: 25px;
}

#contact,
#about {
	padding: 25px;
}
#bioimage {
	width: 30%;
	float: left;
	padding-right: 25px;
}

#content,
#connect {
	float: left;
}

#content {
	border: 1px solid #dddddd;
	line-height: 150%;
	margin: 50px;
	width: 650px;
	overflow: auto;
}

#connect {
	border: 1px solid #dddddd;
	display: inline;
	margin: 50px;
	width: 270px;
	clear:left;
}

#about,
#connectsect {
	float: left;
}

.social {
	width: 20%;
	float: left;
	padding-left: 25px;
	display: inline;
}

footer {
	font-size: 10px;
	text-align: center;
	color: #dddddd;
	background: #666666;
	border-top: 5px solid #4aaaa5;
	position: fixed;
	width: 100%;
	bottom: 0;
	grid-row-start: 2;
	grid-row-end: 3;
	padding: 25px 0;
}
